/* You can add global styles to this file, and also import other style files */
.button-line button,
.button-line a {
    margin: 8px 8px 0px 0px;
}

.default-form {
    display: flex;
    flex-direction: column;
}

.default-form > * {
    width: 100%;
}

.container-component {
    padding: 15px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.red-snackbar {
    --mdc-snackbar-container-color: rgb(250, 84, 84);
}

.green-snackbar {
    --mdc-snackbar-container-color: rgb(67, 156, 106);
}

.clipped {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}